@media (max-width: 956px) {
  .layout {
    grid-template-areas:
      "header header"
      "slider slider"
      "main main"
      "aside aside";

    grid-template-columns: 100%;
  }

  .layout__main {
    margin-right: 0;
  }

  .layout__aside {
    margin-top: 3rem;
  }

  .header__container-img {
    width: 100%;
  }
  .header__img {
    width: 100%;
  }

  .login__form-group,
  .login__submit {
    width: 65%;
  }
}

@media (max-width: 956px) {
  .header__nav {
    height: auto;
    padding: 1rem;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .layout__slider {
    height: 20rem;
  }
}
