html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/cielo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "slider slider"
    "main aside";

  grid-template-columns: 70% 30%;
}

.layout__header {
  grid-area: header;
}

.layout__slider {
  grid-area: slider;
}

.layout__articles {
  grid-area: main;
}

.layout__aside {
  grid-area: aside;
}
