html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/cielo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "slider slider"
    "main aside";
  grid-template-columns: 70% 30%;
  max-width: 80rem;
  background-color: white;
  padding: 3rem;
  margin: 3rem auto;
}

.layout__header {
  grid-area: header;
  margin-bottom: 2rem;
}

.header__logo {
  display: inline-block;
  margin-bottom: 2rem;
  padding:
    0.5rem 1,
    5rem;
  background-color: lightblue;
}

.header__nav {
  width: 100%;
  height: 3rem;
  background-color: grey;
  padding: 0 2rem;
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.list__item {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__text {
  color: white;
  font-size: 3rem;
}

.layout__slider {
  grid-area: slider;
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: 0.5rem solid white;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 4rem;
}

.slider__btn-prev,
.slider__btn-next {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  z-index: 2;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 100%;
  color: white;
  font-size: 2rem;
}

.slider__btn-next {
  left: auto;
  right: 1rem;
}

.layout__articles {
  grid-area: main;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articles__article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article__title {
  font-size: 3rem;
}

.article__date {
  color: grey;
}

.article__body {
  text-align: justify;
}

.article__btn {
  width: 10rem;
  padding: 1.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: aqua;
  border: none;
  color: white;
  transition: all 300ms linear;
}

.slides__item {
  position: absolute;
  transition: opacity 600ms linear;
  opacity: 0;
}

.slides__item--active {
  opacity: 1;
}

.layout__aside {
  grid-area: aside;
}

/* BARRA LATERAL */

.aside__header {
  margin-bottom: 2rem;
}

.header__container-title {
  margin-bottom: 1rem;
}

.header__title,
.login__title {
  text-align: center;
  line-height: 1rem;
  background: url(../img/lines.png) repeat-x;
}

.header__description {
  font-size: 1rem;
  padding: 0.5rem;
}

.aside__login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login__container-title {
  margin-bottom: 1rem;
}

.login__form-group {
  display: flex;
  gap: 0.5rem;
}

.login__input {
  width: 100%;
  border: 2px solid grey;
  outline: none;
  transition: all 300ms linear;
}

.login__input:focus {
  border-color: blue;
}

.login__submit {
  padding: 1rem;
  cursor: pointer border 1px solid grey;
  transition: all 300ms linear;
}

/* FOOTER */

.footer {
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  background-color: grey;
  color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
}

.footer__top {
  cursor: pointer;
}
